{{#each order}}
    <div class="mt-4 card text-center">
        <div class="card-header">
            {{order_date}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{userId}}</h5>
            <p class="card-text">{{bookId}}</p>

            <a href="/orders/edit/{{id}}" class="btn btn-primary">Edit</a>
            <a id="btn-delete" class="btn btn-danger" onclick="deleteRecord({{id}})">Delete</a>
            <a href="/orders" class="btn btn-secondary">Go back</a>
        </div>
        <div class="card-footer text-muted">
            Amount: {{amount}} €
        </div>
    </div>
{{/each}}

<script>
    function deleteRecord(id) {
        var result = confirm("Do you really want to delete this record? This process cannot be undone.");
        if (result) {
            let button = document.getElementById("btn-delete");
            button.href = "/orders/delete/" + id;
        }
    }
</script>